@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

	@font-face {
  		font-family: "Sugar";
  		src: url("../assets/more-sugar.regular.ttf") format("truetype");
	}

	@font-face {
  		font-family: "Quicksand";
  		src: url("../assets/Quicksand-VariableFont_wght.ttf") format("truetype");
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color:#e7d5ff;
		font-family: "Quicksand";
	}

	main {
        padding: 20px;
		padding-top: 115px;
        max-width: 150vw;
	}

	@media (max-width: 750px) {
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		main {
			max-width:100%;
		}
	}