---
import { category } from '../data/category'
---

<div class="category w-[85%]">
    <h3 class="flex flex-col items-center text-xl font-bold">Categories</h3>
    <div class=" w-full">
        {Object.entries(category).map(([key,category]) => (
            <div class="w-full">
                <a 
                href={`/?category=${encodeURIComponent(category.title)}`}
                class="gap-10 tracking-widest hover:bg-gray-200 rounded h-8 flex flex-row justify-between w-full px-4 border-b border-gray-200 py-2">
                    <h3 class="flex flex-col items-center justify-center">
                        {category.title}   
                    </h3>
                </a>
            </div>
        ))}
    </div>
</div>

<style>
    .category {
        margin: 15px;
        padding: 10px;
        gap: 5px;
        background-color: ghostwhite;
        display: flex;
        min-width: 13rem;
        min-height: 200px;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        position: relative;
    }
</style>